@model IEnumerable<Leaf.Models.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Relatório de Vendas";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}