
<!--Vinculo de Pessoa-->
<label for="cnpjPessoa">Pessoa Associada (CNPJ)</label>
<div class="input-group">
    <input type="text" id="inpCnpj" class="form-control" placeholder="Digite o CNPJ da Pessoa" maxlength="18" />
    <button type="button" id="btnValidarCnpj" class="btn btn-info">Validar Pessoa</button>
</div>
<span id="spnValidacao" class="text-danger">*Validação Obrigatória</span>
<span id="spnPessoaNome" class="text-success d-block"></span>
<input type="hidden" id="idPessoa" name="IdPessoa" />

