@model Leaf.Models.ViewModels.PedidoViewModel
@{
    ViewData["Title"] = "Detalhes do Pedido";
    var listaEntregadores = ViewData?["Entregadores"];
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro" class="alert alert-danger">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso" class="alert alert-success">@TempData["MensagemSucesso"]</span>
}

<div class="container mt-5 mp-5 pl-5 mb-5" style="padding-left: 70px">
    <!-- Informações principais do pedido -->
    <input type="hidden" asp-for="IdPedido" />


    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            @*Cabeçario Compartilhado*@
            @await Html.PartialAsync("Cabecario/_CabecarioPedidoDetalhes", Model)
        </div>

        <div class="card-body">
            @*Body do Pedido com detalhes e sua tabela de itens*@
            @await Html.PartialAsync("Detalhes/_PedidoDetalhes", Model)
        </div>


        <!-- Botões de Controle -->
        <div class="text-right m-3">
            <a href="@Url.Action("Index", "RelatorioEntregas")" class="btn btn-outline-secondary"><i class="fas fa-times"></i> Voltar</a>
        </div>
        <br />
    </div>



</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
