@model Leaf.Models.Domain.Produto
@{
    ViewData["Title"] = "Cadastro de Produtos";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<div class="paginaPadrao">
    <br />
    <h2 class="h2tituloCadastro">Cadastro de Produtos</h2>
    <br />
    <form asp-action="Criar" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label asp-for="Descricao"></label>
                    <input asp-for="Descricao" class="form-control" placeholder="ex: Alface" required />
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label asp-for="ValorUnitario">Valor Unitário</label>
                    <input asp-for="ValorUnitario" class="form-control" step="0.01" type="text" required />
                </div>
            </div>
        </div>
       
        <br />
        <div class="btnsControles">
            <a href="@Url.Action("Index", "Produto")" class="btn btn-danger">DESCARTAR</a>
            <button type="submit" class="btn btn-success">CONFIRMAR</button>
        </div>
        <br />
        <br />
        <br />
    </form>
</div>

