
/* ================================
        MENU LATERAL - HOME
   ================================ */

body {
    display: flex;
}

.iconMenu {
    width: 50px;
}


.navegation {
    position: fixed;
    top: 0;
    height: 100vh;
    background: #33752A;
    width: 72px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1;
}


    /* Expansão normal ao passar o mouse - largura padrão */
    .navegation:hover {
        width: 200px;
        transition: width 0.5s ease;
    }

    /* Classe para expandir a barra lateral quando Relatórios estiver ativo */
    .navegation.expanded {
        width: 350px; /* Largura desejada ao clicar em Relatórios */
        transition: width 0.5s ease;
    }

        

.navegation ul {
    padding-top: 15px;
    padding-left: 0px;
}

        .navegation ul li {
            list-style: none;
            margin-top: 3px;
        }

            .navegation ul li a {
                color: white;
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 1px 5px;
            }

                .navegation ul li a .icon {
                    margin-top: 5px;
                    min-width: 60px;
                    text-align: center;
                }

                    .navegation ul li a .icon .iconMenu {
                        font-size: 10px;
                    }

                .navegation ul li a .title {
                    margin-top: 7px;
                    padding-left: 20px;
                    white-space: nowrap;
                }

            .navegation ul li.active {
                padding-top: 0px;
                height: 60px;
                background: #8FD457;
            }
#relatorio{
    z-index: 100;
}

/* Estilo para o submenu */
.submenu {
    margin-left: 180px;
    margin-top: -54px;
    left: 100%; /* Posiciona à direita do item pai */
    top: 0; /* Alinha ao topo do item pai */
    padding: 3px;
    z-index: 100 !important; /* Garante que fique acima dos outros itens */
    transition: all 0.5s ease; /* Transição suave para exibição */
    z-index: 2;
    background-color: #8FD457;
}

    .submenu li {
        margin: 15px 45px; /* Espaçamento entre os itens */
        z-index: 100;
    }


        .submenu li a {
            z-index: 100;
            color: white;
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 1px 5px;
        }

/* Mostrar submenu quando o item 'Relatórios' estiver ativo ou com hover */
.list.relatorios:hover .submenu,
.list.relatorios.active .submenu {
    opacity:1;
    display: block; /* Exibe o submenu ao passar o mouse ou quando está ativo */
}

/* Garantir que o menu pai tenha position relativa para alinhar o submenu */
.list {
    position: relative; /* Necessário para que o submenu seja posicionado em relação ao item pai */
}











/*PLANO DE FUNDO*/

.logo {
    width: 50%;
    max-width: 250px;
    width: 50%;
    width: 50%;
    align-items: center center;
    position: relative;
    transform: translate(10%, 80%);
    margin: auto;
}

.logoHome {
    text-align: center;
    display: flex;
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-height: 595px) {
    .navegation ul li {
        margin-top: 0px;
    }

        .navegation ul li a {
            padding: 1px 5px;
        }
}

@media (min-height: 563px) {
    .navegation ul li {
        margin-top: 5px;
    }

        .navegation ul li a {
            padding: 1px 5px;
        }
}
