* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0 !important;
    padding: 0 !important;
}

/* Titulos de paginas */

.h2titulo {
    text-align: center;
    padding: 2%;
}

.h2tituloCadastro {
    text-align: center;
    padding: 2%;
}

.paginaPadrao {
    margin-left: 5%;
}

.btnsControles {
    margin-top:20px;
    float: right;
}

/*EFEITO DE LOADING*/
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* ================================
            AREA DE BUSCAS
   ================================ */

/* Estilos para organizar os botões e campos de busca */
.linha-superior-custom {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.grupoBusca-custom {
    display: flex; 
    align-items: center;
}

/* Estilos para os campos e botões */
.txtBuscar-custom {
    min-width: 200px;
}


.tipoBusca,
.botaoBusca,
.botaoLimpar {
    margin-left: 0px; 
}

.btn-novo-container {
    margin-left: auto; 
}

/* Responsividade para dispositivos moveis */
@media (max-width: 1096px) {
    .paginaPadrao {
        margin-left: 10%;
    }
    .h2titulo {
        margin-left: 10%;
    }
}
@media (max-width: 857px) {

    .paginaPadrao {
        margin-left: 16%;
        margin-right: 1%;
    }
    .h2titulo {
        margin-left: 16%;
    }

    .linha-superior-custom {
        flex-direction: column; 
        align-items: stretch; 
        gap: 10px;
    }

    .grupoBusca-custom {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .txtBuscar-custom,
    .cbBusca-custom,
    .btnBuscar-custom,
    .btnLimpar-custom,
    .btnNovoCadastro-custom {
        width: 100%; 
    }

    .btn-novo-container {
        text-align: center;
        margin-left: 0; 
    }
}





/* Ajustes para resoluções menores que 996px - Tabela */
@media (max-width: 996px) {
    .hide-column {
        display: none; 
    }
}

